@import "tailwindcss";



@theme {
  --breakpoint-md768: 768px;
  --breakpoint-lg1340: 1340px;
  --breakpoint-xl1440: 1440px;  
}

:root {
  font-family: "Readex Pro";
  
}


body {
    font-family: "Readex Pro";
}


/* 📱 Tablet */
@media (min-width: 601px) and (max-width: 1339px) {
  .fontSizeA{
    font-size:14px ;
  };
  .fontSizeB{
    font-size:16px;
  };
  .fontSizeC{
    font-size:32px;
  }
}


/* 💻 Desktop */
@media (min-width: 1340px) {
  .fontSizeA{
    font-size:16px;
  };
  .fontSizeB{
    font-size: 24px;
  };
  .fontSizeC{
    font-size:32px;
  }
}
