@import "tailwindcss";



@theme {
  --breakpoint-lg768: 768px;
  --breakpoint-lg1: 1340px;
  --breakpoint-xl1440: 1440px;  
  /* --spacing:0.390625vh; */
}

:root {
  font-family: "Readex Pro";
   
}


body {
    font-family: "Readex Pro";
}

input[type="time"]::-webkit-calendar-picker-indicator {
width: 24px;
height: 24px;
font-size: 50px;

}
.ServicePage-dialog{
  max-width: unset !important;
  /* max-height: unset !important; */
  width: 39.375rem;
}
.ServiceViewPage-dialog {
  max-width: unset !important;
  width: 39.375rem; /* 630px */
  height: 90vh; /* علشان يظهر Scroll لو المحتوى طويل */
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* منع السحب يمين/شمال */
  overflow-y: auto;   /* السماح بالاسكرول فوق/تحت */
}


/* 📱 Tablet */
@media(max-width: 1339px) {
  .fontSizeA{
    font-size:14px ;
  };
  .WHLogA{
    width: 80px;
    height: 80px;
  }
  .WHLogB{
    width: 65px;
    height: 65px;
  }

}


/* 💻 Desktop */
@media (min-width: 1340px) {
  .fontSizeA{
    font-size:16px;
  };
  .WHLogA{
    width: 110px;
    height: 110px;
  }
  .WHLogB{
    width: 90px;
    height: 90px;
  }
  
}
